.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.graph-container{
  height: 85vh;
  background:url('./images/grid.gif');
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  border: 0.1px solid black;
  margin: 5px;
}

.graph-preview{
  height: 85vh;
}

.preview-img-container{
  height: 40vh;
  overflow-x: auto;
  overflow-y: auto;
}

.preview-puml{
  font-size: 10pt;
  margin-top: 3px;
  padding-left: 3px;
  height: 45vh;
  overflow-x: auto;
  overflow-y: auto;
}




.edit-container{
  height: 85vh;
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
  border: 2px solid black;
}

.toolbar{
 height: 85vh;
}

.toolbar img{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.exportButton{
  font-size: larger;
}

.upload-section{
  position: absolute;
  top: 80px;
  left: 110px;
  display: flex;
}

.my-button-style{
  font-size: larger;
  margin-left: 100px;
  padding: 0vw 0vh;
}

.custom-button{
  position: absolute;
  font-size: larger;
  padding: 0vw 1vh;
  bottom: 3vh;
  left: 3vw;
}

#zoomButtons{
  position: absolute;
  left: 50vw;
  top: 140px;
}

.TextField{
  margin: 10px;
  width: 250px;
}

#zoomButtons button{
  width: auto;
}

#editButtons{
  position: absolute;
  left: 60vw;
  top: 80px;
}

class-type-icon{
  width: 30px;
  height: 30px;
  position: absolute;
  left:0;
  top: 0;
}
class-header-div{
  position: relative;
}

.connector-option-normal-line{
  background-image: url(https://images.pexels.com/photos/34153/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

select#line-select option[value="normal"]  {
  background-image: url('./images/line_normal.jpg');
  z-index: 100;
}

.App-link {
  color: #61dafb;
}

