.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.graph-container{
  position:absolute;
  width: 70vw;
  height: 85vh;
  background:url('./images/grid.gif');
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  top:130px;
  left:110px;
  border: 2px solid black;
}

.edit-container{
  position: absolute;
  width: 20vw;
  height: 85vh;
  top: 130px;
  right: 0px;
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
  margin-right: 1vh;
  border: 2px solid black;
}

.toolbar{
  position : absolute;
  overflow : hidden;
  padding : 2px;
  left : 0px;
  top : 130px;
  width : 100px;
  bottom : 0px;
  margin-left: 2px;
}
.toolbar img{
  width: 100px;
  height: 40px;
}

.exportButton{
  margin-left: 2vw;
  top: 1vh;
  font-size: larger;
}

.upload-section{
  margin-top: 0px;
}

.my-button-style{
  font-size: larger;
  padding: 0vw 0vh;
}

.custom-button{
  position: absolute;
  font-size: larger;
  padding: 0vw 1vh;
  bottom: 3vh;
  left: 3vw;
  background-color: lightgray;
}

#zoomButtons{
  position: absolute;
  left: 70vw;
  top: 140px;
}

#zoomButtons button{
  width: 30px;
}

#editButtons{
  position: absolute;
  left: 50vw;
  top: 100px;
}

class-type-icon{
  width: 30px;
  height: 30px;
  position: absolute;
  left:0;
  top: 0;
}
class-header-div{
  position: relative;
}

.connector-option-normal-line{
  background-image: url(https://images.pexels.com/photos/34153/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

select#line-select option[value="normal"]  {
  background-image: url('./images/line_normal.jpg');
  z-index: 100;
}

.App-link {
  color: #61dafb;
}

