.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.graph-container{
  position:absolute;
  width: 75vw;
  height: 90vh;
  background:url('./images/grid.gif');
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  top:50px;
  left:20px;
  margin-left: 1vh;
  border: 2px solid black;
}

.edit-container{
  position: absolute;
  width: 20vw;
  height: 90vh;
  top: 50px;
  right: 0px;
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
  margin-right: 1vh;
  border: 2px solid black;
}

.toolbar{
  position : absolute;
  overflow : hidden;
  padding : 2px;
  left : 0px;
  top : 50px;
  width : 24px;
  bottom : 0px;
}

.exportButton{
  position: absolute;
  right: 30vw;
  top: 1vh;
  font-size: larger;
}

.upload-section{
  margin-top: 15px;
}

.my-button-style{
  font-size: larger;
  padding: 0vw 1vh;
}

.custom-button{
  position: absolute;
  font-size: larger;
  padding: 0vw 1vh;
  bottom: 3vh;
  left: 3vw;
  background-color: lightgray;
}

.connector-option-normal-line{
  background-image: url(https://images.pexels.com/photos/34153/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
